@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
body {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    background-color: #212524;
    font-weight: 300;
}
body,html {
    height:100%;
}

body .setText {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: whitesmoke;
}

.splitContainer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: absolute;
    top: 50%;

}

.leftSplit {
    border-top: 3px solid #F2DAC8;
    width: 100%;
    height: 10px;
    flex-grow: 1;
    box-shadow: 0px -4px 4px 0px rgba(0, 82, 76,.47);
}

.rightSplit {
    border-top: 3px solid #F2DAC8;
    width: 100%;
    height: 10px;
    flex-grow: 1;
    box-shadow: 2px -4px 4px 0px rgba(0, 82, 76,.47);
}

.split {
    height: 70px;
    width: 300px;
    flex-grow: 1;
    border-radius: 0 0 90px 90px;
    border-bottom: 3px solid #F2DAC8;
    border-left: 3px solid #F2DAC8;
    border-right: 3px solid #F2DAC8;
}
.largeScreen {
    height:100%;
}
.splitMenu {

    float:right;
    position: relative;
    top: 45%;
    transform: translateY(-45%);
}
.splitMenu menuItem {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #ACACAC;
    font-size:1em;
    letter-spacing:.2em;
    text-transform:uppercase;
    margin:10px;
    text-align:center;
    display:inline-block;
}
.splitMenu menuItem:hover{
    color:#F2DAC8;
}
.splitMenu menuItem:active {
    /*color:#00524C;*/
    color:white;
}
.ellieChar {
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    top: -50px;
    left: 0;
    margin: 0 auto;
}

.double-bounce, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 75%;
    background-color: #ACACAC;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}
.double-bounce2 {
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}
.double-bounce i {
    font-size:4.5em;
}
/*Animation CSS*/
@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(1.0) }
    50% { -webkit-transform: scale(1.2) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    } 50% {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
      }
}
