@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
body {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    background-color: #212524;
    font-weight: 300;
}
ul {
    list-style-type: none;
}
body .setText {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color:whitesmoke;
}
#start button {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:whitesmoke;
}
#whenReadyQuestion button {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:whitesmoke;
  }
#questionCollector ul li a.button {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.card {
    max-width: 500px;
    margin: 0 auto;
}
/*ellie char css*/
.ellieChar {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 100px auto;
}

.double-bounce, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 75%;
    background-color: ghostwhite;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}
.double-bounce2 {
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}
.double-bounce i {
    font-size:4.5em;
}

/*Spinner CSS*/
.spinner {
    margin: 100px auto;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: white;
    height: 100%;
    width: 12px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
-webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

/*Animation CSS*/
@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(1.0) }
    50% { -webkit-transform: scale(1.2) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    } 50% {
          transform: scale(1.2);
          -webkit-transform: scale(1.2);
      }
}


@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}